---
import Layout from '../layouts/Layout.astro';
import Guitar from '../components/Guitar.astro';

const url = `${import.meta.env.PUBLIC_API_URL}/api/guitars?populate=image`;
const response = await fetch(url);
const { data } = await response.json();
---

<Layout
  title="Loja"
  description="Loja de guitarras e blog de música. Guitarras Dale, Young, Cobain e mais"
>
  <main class="container">
    <h1 class="heading">Nossa Coleção</h1>

    <div class="grid">
      {
        data?.map(
          (guitar: {
            attributes: {
              name: string;
              description: string;
              url: string;
              price: number;
              image: {
                data: { attributes: { formats: { small: { url: string } } } };
              };
            };
          }) => (
            <Guitar
              name={guitar.attributes.name}
              description={guitar.attributes.description}
              url={guitar.attributes.url}
              price={guitar.attributes.price}
              image={guitar.attributes.image}
            />
          )
        )
      }
    </div>
  </main>
</Layout>

<style></style>
