---
export interface Props {
  name: string;
  description: string;
  url: string;
  price: number;
  image: { data: { attributes: { formats: { small: { url: string } } } } };
}

const { name, description, image, price, url } = Astro.props;
---

<div class="guitar">
  <img src={image.data.attributes.formats.small.url} alt=`Guitarra ${name}` />
  <div class="content">
    <h3>{name}</h3>
    <p class="description">{description}</p>
    <p class="price">${price}</p>
    <a href=`/store/${url}` class="link">Ver Produto</a>
  </div>
</div>

<style>
  .guitar {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
  }
  .content {
    padding: 1rem;
  }
  .content h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
  }
  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1.8rem;
  }
  .price {
    color: var(--primary);
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
  }
  .link {
    margin-top: 2rem;
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: 300ms;
  }
  .link:hover {
    background-color: var(--primary);
  }

  .form {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .form label {
    font-size: 2.2rem;
  }
  .form select {
    border: 1px solid var(--black);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
  }
  .form input[type='submit'] {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 1.4rem;
    background-color: var(--black);
    color: var(--white);
    transition-property: background-color;
    transition-duration: 300ms;
  }
  .form input[type='submit']:hover {
    background-color: var(--primary);
    cursor: pointer;
  }
</style>
